h1{
    text-align: center;
    color:red;
}
hr{
    width:40%
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.btn button{
    margin:10px;
}

h2{
    text-align: center;
}